* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

.container{
    display: grid;
    grid-template-columns: 4fr 1.3fr;
    background: #FFFFFF;
    
}
.maincontent{
    display: grid;
    grid-template-columns: 1fr 9fr;
     /*Kalau grid column adalah kesamping */
     /*Kalau flex column adalah kebawah */
}
.SideMenu{
    float: left;
    display: flex;
    flex-direction: column;
    box-shadow: 9px 8px 10px rgba(0, 0, 0, 0.25);
    /* z-index: 0; */
}
.SideMenu img{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 8px;
}
.imgCake {
    padding: 20px;
    background: rgba(190, 195, 202, 0.3);
    display: flex;
    flex-wrap: wrap;
}
.fooditems {
    margin: 15px 0px 10px 30px;
}
.imgCake .fooditems p, h1{
    margin-top: 0px;    
    margin-bottom: -15px;    
}
.navHome{
    box-shadow: 2px 10px 4px -2px rgba( 0,0,0, 0.25);
    margin: 5px;
    width: 97%;
    height: 43px;
    padding: 10px;
    display: flex; /*/enak buat navbar*/
    justify-content: space-between;
}
.carempty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carHome{
    margin: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.iconHome{

    padding:6px 0px 0px 16px
}
.listItems{
    padding: 30px 0px 0px 30px;
    display: grid;
    grid-template-columns: 0fr 1fr;
}
.wishlist h5{
    margin: 2px 0px 0px 12px;
}
.countPrice{
    display: flex; /*display flex kesmping */
    justify-content: space-between;
    margin: 45px 0px 0px 12px;
}
.countPrice h5{
    margin-top: 15px;
    margin-right: 15px;
}
.bot img{
    position: inherit;
    margin-top: -288px;
    margin-bottom: 105px;
}

.cakePrice{
    display: flex;
    justify-content: space-between;
    padding-top: 345px;
    padding-left: 30px;
    margin-bottom: -30px;
    margin-right: 30px;
}
.boxChoiceCheckOut{
    text-align: center;
    color: #FFFFFF;
    margin-top: 65px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.boxChoiceCheckOut1{
    text-align: center;
    color: #FFFFFF;
    margin: 45px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.checkoutModal {
    display: inline-block;
    background-color: #57CAD5;
    cursor: pointer;
    width: 265.317px;
    text-align: center;
}
.checkoutModal h3{
    margin: 0px 10px;
    padding: 5px 0;
}
 
 
.modal-radio {
    visibility: hidden;
}
 
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform .30s;
    /* overflow: hidden; */
    /* opacity: 0.5; */
    /* z-index:99; */
}
 
#idCheckoutModal:checked + .modal {
    transform: scale(1);
}
 
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}
 
.content {
    position: absolute;
    width: 45%;
    height: 70%;
    max-height: 100%;
    top: 10%;
    left: 15%;
    background: #ffffffff;
    padding: 20px;
    color: #2f2f2f;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.titOne{
    display: flex;
    justify-content: space-between;
}
.titOne h2,h4{
    margin: 0px 0px;
}
.cashier{
    margin-bottom: -45px;
}
.cashier h5{
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: left;
}
.listCake{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.buttonPrint{
    margin-bottom: 0px;
}
.buttonPrint h2{
    border-radius: 5px;
    margin: 5px;
    color: #ffffffff;
}
.total{
    text-align: right;
}

.addButton{
    cursor: pointer;
    margin-left: 19px;
}

#idAddButton:checked + .modalAdd{
    transform: scale(1);    
}

.radioAddModal{
    visibility: hidden;
}
.modalAdd{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform .30s;
}
.contentAdd{
    position: absolute;
    width: 45%;
    height: 70%;
    max-height: 100%;
    top: 10%;
    left: 15%;
    background: #FFFFFF;
    padding: 20px;
    margin-left: 10%;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /* background: blue; */
}
/* input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    box-sizing: border-box;
  } */
/* .contentForm input{
    padding: 10px;
    padding:10px;
    border-radius:5px;

} */

.priceInput input[type=text] {
    width: 55%;
    padding: 15px 22px;
    margin: 10px 95px;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
input[type=text] {
    width: 70%;
    padding: 15px 22px;
    margin: 10px 5px;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.category{
    display: flex;
    justify-content: space-between;
}
.category select {
    width: 35%;
    padding: 15px 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 215px;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
input[type=file] {
    width: 70%;
    padding: 15px 22px;
    margin: 10px 5px;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.rounded-input {
    display: flex;
    justify-content: space-between;
  }
.priceInput {
    display: flex;
    justify-content: space-between;
  }
.addOrCancel{
    display: flex;
    float: right;
    margin-top: 50px;
}
.addOrCancel h3{
    background-color: #F24F8A;
    padding: 5px 20px;
    margin-right: 20px;
    border-radius: 10px;
    color: #FFFFFF;
}
select{
    color:#CECECE;
}
option{
    color:black;
}
.hideimgSidemenu{
    display: none;
}

@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-car{
        position: fixed;
        background-color: #FFFFFF;
        height: 100vh;
        overflow: scroll;
        top: 0;
        right: 0;
        display: none;
        width: 364.733px;
    }
    /* .hideimgSidemenu{
        display: block;
    } */
    .navHome{
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        padding: 0px;
    }
    .fooditems{
        margin-left: 35px;
        /* margin-left: -5px; */
        padding-left: 0px;
    }
    .hideimgSidemenu{
        cursor: pointer;
        display: block;
    }
    .imgCake{
        /* width: 325px; */
        width: 306px;
        padding-right: 39px;
    }
    .carHome{
        padding-top: 5px;
        margin-top: 25px;
    }
    .navHome{
        /* box-shadow: none; */
        padding: 10px;
        margin: 5px;
        width: 399.9px;
    }
    .content{
        width: 87%;
        top: 2%;
        left: -8%;
    }
    .contentAdd{
        width: 87%;
        top: 2%;
        left: -8%;
    }
    .priceInput label {
        margin-right: -30px;
    }
    .category label h3{
        margin-right: 15px;
    }
    .SideMenu{
        width: 64px;
    }
    .addButton{
        margin-left: 0px;

        /* width: 64px; */
    }
}
.slider{
    display: unset;
}