* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 4fr 1.3fr;
    background: #FFFFFF;
    
}
.maincontent{
    display: grid;
    grid-template-columns: 1fr 9fr;
     /*Kalau grid column adalah kesamping */
     /*Kalau flex column adalah kebawah */
}
.SideMenu{
    
    float: left;
    display: flex;
    flex-direction: column;
    box-shadow: 9px 8px 10px rgba(0, 0, 0, 0.25);
}
.SideMenu img{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 8px;
}
.imgCake {
    padding: 20px;
    background: rgba(190, 195, 202, 0.3);
    display: flex;
    flex-wrap: wrap;
}
.fooditems {
    margin: 15px 0px 10px 30px;
}
.imgCake .fooditems p, h1{
    margin-top: 0px;    
    margin-bottom: -15px;    
}
.navHome{
    /* box-shadow: 0px 4px 10px rgba( 0,0,0, 0.25); */
    margin: 5px;
    width: 97%;
    height: 43px;
    padding: 10px;
    display: flex; /*/enak buat navbar*/
    justify-content: space-between;
}
.carempty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carHome{
    margin: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.iconHome{

    padding:6px 0px 0px 16px
}

@media only screen and (max-width: 360px){
    .iconHome{
        /* display: flex; */                             
        margin-right: 50px;
    }
    body{
        margin: 10px;
    }
    .main-car{
        display: none;
    }

}