* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 4fr 1.3fr;
    background: #FFFFFF;
    
}
.maincontent{
    display: grid;
    grid-template-columns: 1fr 9fr;
     /*Kalau grid column adalah kesamping */
     /*Kalau flex column adalah kebawah */
}
.SideMenu{
    
    float: left;
    display: flex;
    flex-direction: column;
    box-shadow: 9px 8px 10px rgba(0, 0, 0, 0.25);
}
.SideMenu img{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 8px;
}
.imgCake {
    padding: 20px;
    background: rgba(190, 195, 202, 0.3);
    display: flex;
    flex-wrap: wrap;
}
.fooditems {
    margin: 15px 0px 10px 30px;
}
.imgCake .fooditems p, h1{
    margin-top: 0px;    
    margin-bottom: -15px;    
}
.navHome{
    box-shadow: 2px 10px 4px -2px rgba( 0,0,0, 0.25);
    margin: 5px;
    width: 97%;
    height: 43px;
    padding: 10px;
    display: flex; /*/enak buat navbar*/
    justify-content: space-between;
}
.carempty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carHome{
    margin: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.iconHome{

    padding:6px 0px 0px 16px
}
.listItems{
    padding: 30px 0px 0px 30px;
    display: grid;
    grid-template-columns: 0fr 1fr;
}
.wishlist h5{
    margin: 2px 0px 0px 12px;
}
.countPrice{
    display: flex; /*display flex kesmping */
    justify-content: space-between;
    margin: 45px 0px 0px 12px;
}
.countPrice h5{
    margin-top: 15px;
    margin-right: 15px;
}
.checkList img{
    filter:brightness(80%);
}
.checkListMid{
    /* background: #FFFFFF; */
    position: absolute;
    margin-top: -130px;
    margin-left: 100px;
}
.checkListMid img{
    filter:brightness(100%);
}
.cakePrice{
    display: flex;
    justify-content: space-between;
    padding-top: 330px;
    padding-left: 30px;
    margin-bottom: -30px;
    margin-right: 30px;
}
.boxChoiceCheckOut{
    text-align: center;
    color: #FFFFFF;
    margin: 0 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* NONE */

/* @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700'); */

body{
    background: #f1f1ff;
    font-family:Quicksand,sans-serif;
    text-align:center;
  }
  .card {
      width: 250px;
      border-radius: 5px;
      overflow: hidden;
      background: #fff;
      box-shadow: 3px 3px 18px -8px #263238;
      color: #424242;
      margin: 20px auto;
      padding: 20px;
    display: inline-block;
  }
  
  .modal-open {
      display: inline-block;
      border-radius: 10px;
      background: #4caf50;
      padding: 0px 20px;
      color: #fff;
      cursor: pointer;
  }
  
  .modal-label {
      position: relative;
  }
  
  .modal-radio {
      position: absolute;
      visibility: hidden;
      opacity: 0;
  }
  
  .modal {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      opacity: 0;
      transform: scale(0);
      transition: opacity .25s, transform .25s;
    z-index:99;
  }
  
  .modal2{
    transform: scale(0.8) translate(0,-100%);
      transition: transform .35s,opacity .35s;
  }
  
  .modal3{
    transform:translate(0,100%) scale(.9);
  }
  
  .modal4{
    transform:scale(0) rotate(180deg);
  }
  
  #modal-open:checked + .modal {
      opacity: 1;
      transform: scale(1);
  }
  
  #modal-open2:checked + .modal2{
    transform:scale(1) translate(0,0);
    opacity:1;
  }
  
  #modal-open3:checked + .modal3{
    transform:scale(1) translate(0,0);
    opacity:1;
  }
  
  #modal-open4:checked + .modal4{
    transform:scale(1) rotate(0deg);
    opacity:1;
  }
  
  .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0.3;
      top: 0;
      left: 0;
  }
  
  .modal .content {
      position: absolute;
      width: 70%;
      height: 300px;
      max-height: 70%;
      top: 10%;
      left: 15%;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 3px 15px -2px #222;
      padding: 20px;
  }
  
  .close-btn {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 10px;
      right: 20px;
      border-radius: 50%;
      border: 2px solid #f44336;
      cursor: pointer;
  }
  
  .close-btn:after,
  .close-btn:before {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      background: #f44336;
      left: 15%;
      top: 50%;
      top: calc(50% - 1px);
      transform-origin: 50% 50%;
      transform: rotate(45deg);
  }
  
  .close-btn:before {
      transform: rotate(-45deg);
  }
  
  .action-btn{
    display:inline-block;
    padding: 10px 20px;
    background:#4caf50;
    color:#fff;
    border-radius:15px;
    cursor: pointer;
  }